// .login {
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
//     position: relative;

//     .title {
//         position: absolute;
//         left: 4.3rem;
//         top: 9.0rem;
//         width: 13rem;
//         height: 10rem;
//         color: rgba(16, 16, 16, 100);
//         font-size: 3.2rem;
//         z-index: 99;
//         text-align: left;
//     }

//     .ant-form-item {
//         margin-bottom: 2rem;
//     }

//     img {
//         height: 100%;
//         width: 100%;
//         position: absolute;
//         left: 50%;
//         top: 50%;
//         transform: translate(-50%, -50%);
//     }

//     input {
//         width: 13.6rem !important;
//         border: none;
//         border-bottom: 1px solid #C9CED2;
//         outline: none !important;
//         box-shadow: none !important;
//     }

//     * {
//         flex: none;
//     }

//     .active-wrap {
//         label {
//             color: #6A7379 !important;
//         }
//     }

//     .ant-form-item-label {
//         padding: 0;

//         label {
//             transition: 300ms;
//             height: 1.6rem;
//             font-size: 1.4rem;
//             color: #C9CED2;
//         }
//     }

//     .login-form {
//         background-color: #fff;
//         left: 0rem;
//         top: 21.8rem;
//         width: 30.4rem;
//         height: 25.5rem;
//         line-height: 2rem;
//         border-radius: 0rem 2rem 2rem 0rem;
//         text-align: center;
//         box-shadow: 0.5rem -0.1rem 0.5rem 0.4rem rgba(0, 0, 0, 0.1);
//         border: 0.1rem solid rgba(255, 255, 255, 100);
//         position: absolute;
//         top: 21.8rem;
//         z-index: 99;

//         .sbbtn {
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             width: 22.4rem;
//             height: 4.2rem;
//             background: #2E3EEB;
//             border-radius: 0.8rem;
//         }

//         .getcodebtn {
//             position: absolute;
//             background-color: #fff;
//             color: rgba(106, 115, 121, 1);
//             top: 13rem;
//             height: 3rem;
//             width: 12rem;
//             text-align: left;
//             right: 1rem;
//             border: none !important;
//             box-sizing: border-box;
//             box-shadow: none !important;

//             &:disabled {
//                 box-shadow: none !important;

//             }
//         }
//     }
// }

._login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    .login_wrap {
        width: 32.5rem;
        height: 255px;
        background: #FFFFFF;
        padding: 0;
        box-shadow: 0px 0.5rem 1.7rem 0.03rem rgba(255, 149, 12, 0.2);
        border-radius: 0.5rem;
        transform: translateY(-2.5rem);
        overflow: visible;

        .login-form {
            width: 100%;
            padding: 0 1.5rem;
            position: relative;
            box-sizing: border-box;

        }

        .title-form {
            font-size: 2.4rem;
            width: 100%;
            color: #F38219;
            line-height: 3.6rem;
            padding-top: 2rem;
            padding-left: 2.5rem;
        }

        .getcodebtn {
            width: 10.5rem;
            height: 3rem;
            border: 0.1rem solid #B8BCC0;
            line-height: 2.8rem;
            border-radius: 1.5rem;
            text-align: center;
            position: absolute;
            color: #B8BCC0;
            right: 1.5rem;
            top: 8.3rem;
        }
    }

    .login-title {
        height: 26rem;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        background: linear-gradient(41deg, #F2712A, #F27F2A, #F2962A, #FDB04D, #FFB238);

        .welcome {
            display: block;
            width: 12.2rem;
            height: 3.6rem;
        }

        .logo {
            display: block;
            width: 8.75rem;
            height: 10rem;
            margin-top: 1.6rem;
        }

        .btn {
            width: 32rem;
            height: 4.4rem;
            border-radius: 2.2rem;
            font-size: 1.6rem;
            box-sizing: border-box;

            &::after {
                border: none;
                outline: none;
            }

            &.tel {
                color: #F38219;
                line-height: 4.4rem;
                background: linear-gradient(0deg, rgba(255, 255, 255, 1), rgba(254, 226, 196, 1));
                box-shadow: 0px 0px 1rem 0px rgba(255, 255, 255, 0.2);
            }

            &.wechat {
                color: #FFEACA;
                background: transparent;
                border: 0.2rem solid #FFEACA;
            }
        }
    }

    input {
        width: 29.5rem !important;
        height: 5rem;
        text-indent: 4rem;
        font-size: 1.4rem;
        border: none;
        border-bottom: 0.1rem solid #EDEDED;
        outline: none !important;
        box-shadow: none !important;
    }

    .sbbtn {
        width: 24rem;
        height: 4rem;
        background: linear-gradient(90deg, #F3A919, #F38219);
        border-radius: 2rem;
        left: 50%;
        transform: translateX(-50%);
        border: none;
        position: absolute;
        bottom: -2rem;
        z-index: 999;
        font-size: 1.6rem;

        svg {
            vertical-align: text-top;
        }
    }

    .ant-form-item {
        position: relative;

        .ant-form-item-label {
            position: absolute;
            z-index: 99;
            top: 55%;
            left: 2rem;
            transform: translateY(-50%);

            .icon_lable {
                width: 1.2rem;
            }
        }
    }
}