.index_box {
    width: 100%;
    height: 100%;
    padding-bottom: 4.9rem;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;

    .address_wrap {
        margin-top: 0.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-searchview {
        margin: 0.5rem 1rem 0 1rem;
        display: flex;
        flex-direction: row;

        .home-searchv {
            width: 100%;
            height: 4.6rem;
            background: rgba(255, 255, 255, 1);
            box-shadow: 0 0 0.5rem 0 rgba(9, 44, 76, 0.1);
            border-radius: 2.25rem;
            display: flex;
            flex-direction: row;
            align-items: center;

            .iconfont {
                font-size: 1.5rem;
            }

            svg {
                font-size: 1.5rem;
                font-weight: bold;
                color: #C8CDD1;
                align-self: center;
                margin-left: 1rem;
            }

            .home-search {
                margin-left: 1rem;
                color: #C8CDD1;
            }
        }
    }
}