.map_wrap {
    width: 100%;
    height: 100%;
    padding-top: 4.4rem;
    box-sizing: border-box;

    .select_wrap {
        width: 100%;
        height: 94%;
    }

    .mapPage {
        width: 100%;
        height: 100%;
    }

    .btns {
        width: 100%;
        height: 6rem;
        display: flex;
        justify-content: space-around;
        align-items: center;

        button {
            width: 10rem;
        }
    }
}