.handle_address,
.handle_booked,
.change_address,
.handle_phone {
    width: 100%;
    height: calc(100% - 8.7rem);
    transform: translate(0, 8.7rem);
    color: #979797;

    .title {
        position: fixed;
        top: -7.8rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.8rem;
        color: #092C4C;
    }
}

.change_address {
    .default {
        color: #704916;
        font-size: 1.4rem;
        margin-bottom: 1.8rem;
        margin-left: 2.5rem;
        display: flex;
        align-items: center;

        .img {
            border: 0.2rem solid #e4e4e4;
            width: 2.2rem;
            height: 2.2rem;
            border-radius: 50%;
            margin-right: 0.6rem;
            box-sizing: border-box;
            overflow: hidden;
            position: relative;

            img {
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 2.2rem;
                height: 2.2rem;
            }
        }
    }

    .btn_wrap {
        width: 100%;
        margin-top: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            width: 8.9rem;
            height: 4rem;
            color: #fff;
            text-align: center;
            line-height: 4rem;
            border-radius: 0.3rem;
        }

        span:nth-of-type(1) {
            background-color: #85888E;
            margin-right: 2.9rem;
        }

        span:nth-of-type(2) {
            background-color: #E29836;
        }
    }

    .item_box {
        width: 100%;

        background-color: #fff;

        .desc {
            display: flex;
            align-items: center;

            div {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        }

        li {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2rem 1.8rem;
            border-bottom: 1px solid rgb(231, 231, 231);

            &>span {
                color: #092C4C;
                font-size: 1.4rem;
            }
        }
    }

    input {
        max-width: 25rem;
        border: none;
        outline: none;
        text-align: right;

        &::placeholder {
            color: #979797;
        }
    }

    textarea {
        width: 18rem;
        height: 4.8rem;
        border: none;
        outline: none;
        text-align: left;
        box-sizing: border-box;
        padding-top: 1.1rem;
        resize: none;

        &::placeholder {
            text-align: right;
            color: #979797;
        }
    }
}



.handle_address {
    .default {
        height: 5.9rem;
        border-bottom: 0.1rem solid rgba(187, 187, 187, .2);
    }

    .item_box {
        width: 100%;

        background-color: #fff;

        .desc {
            display: flex;
            align-items: center;

            div {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        }

        li {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1.8rem;

            &>span {
                color: #092C4C;
                font-size: 1.4rem;
            }
        }
    }

    .other {
        position: relative;

        li {
            height: 8rem;
        }

        i {
            display: block;
            position: absolute;
            right: 0;
            bottom: 0rem;
            width: 22.5rem;
            height: 0.2rem;
            background-color: rgba(187, 187, 187, .2);
        }
    }

    .btn_wrap {
        width: 100%;
        margin-top: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            width: 16rem;
            height: 4rem;
            color: #fff;
            text-align: center;
            background-color: #E29836;
            line-height: 4rem;
            border-radius: 0.3rem;
        }
    }
}

.handle_phone {


    .btn_wrap {
        width: 100%;
        margin-top: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            width: 8.9rem;
            height: 4rem;
            color: #fff;
            text-align: center;
            line-height: 4rem;
            border-radius: 0.3rem;
        }

        span:nth-of-type(1) {
            background-color: #85888E;
            margin-right: 2.9rem;
        }

        span:nth-of-type(2) {
            background-color: #E29836;
        }
    }

    .phone_input {
        border: none;
        outline: none;
        text-align: right;

        &::placeholder {
            color: #979797;
        }
    }

    .item_box {
        width: 100%;
        height: 5.9rem;
        background-color: #fff;

        li {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1.8rem;

            &>span {
                color: #092C4C;
                font-size: 1.4rem;
            }
        }

    }
}