.tabBox {
    width: 100%;
    height: 4.9rem;
    position: fixed;
    bottom: 0;
    list-style: none;

    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
            margin-right: 10px;
        }
    }


}