.center_wrap {
    // transform: translate(0, 4.4rem);
    width: 100%;
    height: 100%;

    .info_wrap {
        width: 100%;
        height: 22.2rem;
        background-color: rgba(82, 144, 255, 100);

        h3 {
            width: 100%;
            text-align: center;
            font-size: 1.8rem;
            color: #fff;
            padding-top: 1rem;
        }

        .avatar_wrap {
            display: flex;
            align-items: flex-end;
            box-sizing: border-box;
            color: #fff;
            font-size: 1.4rem;
            margin-top: 3.6rem;

            .avatar {
                width: 6rem;
                height: 6rem;
                overflow: hidden;
                border-radius: 50%;
                margin-right: 1.8rem;
                margin-left: 1.6rem;
            }

            img {
                width: 6rem;
                height: 6rem;
            }

            .info {
                display: flex;
                flex-direction: column;

                span:nth-of-type(1) {
                    font-size: 1.6rem;
                    font-weight: 500;
                }
            }
        }

        .a_count {
            color: #fff;
            font-size: 1.3rem;
            display: flex;
            justify-content: space-around;
            margin-top: 1.9rem;

            .count_box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                span:nth-of-type(1) {
                    font-size: 1.6rem;
                    font-weight: 500;
                }
            }
        }
    }

    .handle_wrap {
        font-size: 1.4rem;
        color: #979797;

        .item_box {
            box-sizing: border-box;
            padding: 0 1rem;

            li {
                width: 100%;
                height: 5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;


                &>span {
                    color: #101010;
                    font-size: 1.6rem;
                }
            }

            i {
                display: block;
                height: 0.1rem;
                width: 35.5rem;
                background-color: #F0F0F0;
            }
        }

    }
}