.product_list {
    width: 35rem;
    margin-top: 0.6rem;
    // min-height: 32.7rem;
    border-radius: 2rem;
    text-align: center;
    background-color: #fff;
    border: 0.2rem solid rgba(255, 255, 255, 1);
    padding: 2rem 1.5rem 1rem 1.8rem;
    box-sizing: border-box;

    .shop_wrap {
        height: 5rem;
        width: 100%;
        display: flex;
        align-items: center;

        .text {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .img {
            width: 4rem;
            height: 4rem;
            margin-right: 0.9rem;
        }

        aside {
            background-color: rgb(231, 41, 64);
            width: 6rem;
            height: 1.7rem;
            border-radius: 0.5rem;
            font-size: 1.2rem;
            color: #ffffff;

            svg {
                margin-right: 0.1rem;
            }
        }
    }

    .food_list {
        width: 100%;
        overflow-y: scroll;
        max-height: 26rem;
        box-sizing: border-box;

        li {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1.6rem;
            height: 6rem;

            &:nth-of-type(1) {
                margin-top: 1rem;
            }

            .e_img {
                width: 6rem;
                height: 6rem;
                margin-right: 1rem;
                border-radius: 0.6rem;
                overflow: hidden;

                img {
                    width: 6rem;
                    height: 6rem;
                }
            }

            .desc_wrap {
                display: flex;

                .e_desc {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: 1.2rem;

                    p {
                        font-size: 0.9rem;
                    }
                }

            }

            .e_price {
                // height: 100%;
                font-size: 1.6rem;
                font-weight: 500;
                color: rgba(9, 44, 76, 1);

                span {
                    font-size: 1.2rem;
                    color: rgba(0, 0, 0, .46);
                    margin-right: 1.1rem;
                }
            }
        }
    }

    .cashier_footer {
        color: rgba(9, 44, 76, 100);
        font-size: 1.3rem;

        span {
            margin-left: 1.1rem;
            font-size: 1.2rem;
            color: rgba(39, 36, 242, 100);
        }
    }

    .call_footer {
        margin-top: 1.4rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        color: rgba(9, 44, 76, 1);
        font-size: 1.2rem;
        position: relative;
        border-top: 0.1rem solid rgba(0, 0, 0, .18);
        padding-top: 1.5rem;

        .call {
            display: flex;
            flex-direction: column;

            img {
                width: 2.1rem;
                height: 2.1rem;
            }

            span {
                color: rgba(9, 44, 76, 1) !important;
            }
        }



        .price_box {
            height: 3rem;
            display: flex;

            p {
                margin-bottom: 0 !important;
            }

            .money {
                height: 100%;

                span {
                    font-size: 1.8rem;
                    font-weight: 500;
                    margin-left: 0.7rem;
                }
            }

            .coin_box {
                height: 100%;
                line-height: 3.1rem;

                span {
                    color: rgba(244, 62, 62, 1);
                    margin-right: 2.6rem;
                    margin-left: 0.7rem;
                }
            }
        }
    }
}