.login_wrap {
    box-sizing: border-box;
    width: 100%;
    max-height: calc(100% - 3.7rem - 15.6rem - 3.1rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    // align-items: center;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 0.2rem 0 2.2rem 1.3rem;
}

.food_wrap {
    box-sizing: border-box;
    width: 100%;
    max-height: calc(100% - 3.7rem - 15.6rem - 1rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    // align-items: center;
    overflow-y: scroll;
    box-sizing: border-box;
    position: relative;
    padding: 0.2rem 0 0rem 1.3rem;

    .empty {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20rem;
        // height: 20rem;
    }


    .food {
        width: 16.5rem;
        min-height: 20rem;
        display: flex;
        background-color: #fff;
        overflow: hidden;
        position: relative;
        border-radius: 1.3rem;
        margin-right: 1.6rem;
        margin-bottom: 3rem;

        // box-shadow: 0px 0px 10px 0px rgba(9, 44, 76, 0.1);
        .like {
            position: absolute;
            right: 0.7rem;
            top: 0.7rem;
        }

        .food_item {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .img_wrap {
                height: 13.7rem;
                overflow: hidden;
                position: relative;

                img {
                    // width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .content {
                min-height: 6.3rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                // align-items: center;

                p {
                    // 商品名
                    text-indent: 1.6rem;
                    text-align: left;
                    color: rgb(88, 102, 116);
                    margin: 0;
                    transform: translate(0, 0.5rem);
                }

                .price_wrap {
                    // height: 2.8rem;
                    margin-bottom: 0.6rem;
                    text-align: left;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 0.7rem 0 1.6rem;
                    box-sizing: border-box;

                    div:nth-of-type(1) {
                        margin-top: 1rem;
                        display: flex;
                        flex-direction: column;

                        // item text 
                        span:nth-of-type(2) {
                            margin-top: -0.3rem;
                            text-indent: 0.2rem;
                        }
                    }

                    .new {
                        font-weight: 500;
                        font-size: 1.6rem;
                        margin-right: 0.2rem;
                    }

                    .coin {
                        color: rgb(88, 102, 116);
                        // text-decoration: line-through;
                        font-size: 1.2rem;
                    }

                    i {
                        font-style: initial;
                    }
                }
            }

        }
    }
}