.search_box {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    padding-top: 10.4rem;
    padding-bottom: 1.4rem;

    .history_wrap {
        margin-top: 2.8rem;
        color: #999999;
        position: relative;
        box-sizing: border-box;

        .title {
            font-size: 1.4rem;
            padding: 0 0.4rem;
        }

        .clear {
            position: absolute;
            padding: 0 0.8rem;
            right: 0rem;
            top: 0;
        }

        .items {
            font-size: 1.2rem;
            margin-top: 2.4rem;
            // padding-left: 0.2rem;
            display: flex;
            margin: 0 1rem;
            flex-flow: row wrap;
            align-items: center;

            .item {
                line-height: 3;
                color: #666666;
                margin-right: 1.3rem;
                min-width: 2rem;
                // margin-bottom: 0.8rem;
            }
        }


    }


    .list_wrap {
        width: 100%;
        box-sizing: border-box;
        height: calc(100% + 4.9rem);
        overflow-y: scroll;



        .item {
            width: 100%;
            height: 10.75rem;
            background-color: #fff;
            border-radius: 1.2rem;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 1.4rem;
            position: relative;
            // box-shadow: 0px 0px 5rem 0px rgba(9, 44, 76, 0.1);
            margin-bottom: 0.5rem;

            .content {
                width: calc(100% - 8rem);
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .shop_name {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    font-size: 1.6rem;
                    font-weight: 400;
                    color: #092C4C;

                    span:nth-of-type(1) {
                        overflow: hidden;
                        width: 14rem;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    span:nth-of-type(2) {
                        font-size: 1.2rem;
                        color: #666666;

                        svg {
                            vertical-align: top;
                            margin-right: 0.2rem;
                        }
                    }
                }

                .address {
                    color: #999;
                    overflow: hidden;
                    width: 16rem;
                    font-size: 1.2rem;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

            }

            .img_box {
                width: 8rem;
                height: 8rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 1rem;
                overflow: hidden;
                margin-right: 1.4rem;

                img {

                    width: 8rem;
                    height: 8rem;
                }
            }

            .btn {
                right: 1.4rem;
                bottom: 1.4rem;
                text-align: center;
                line-height: 2.5rem;
                font-size: 1.2rem;
                color: #fff;
                width: 7rem;
                height: 2.5rem;
                background: linear-gradient(127deg, #F3A919 0%, #F38219 100%);
                border-radius: 1.25rem;
                position: absolute;

                a {
                    outline: none;
                    color: #fff;
                }
            }
        }

    }


    .home-searchview {
        height: 9rem;
        display: flex;
        align-items: flex-end;
        width: 100%;
        background-color: #f5f8fb;
        position: fixed;
        z-index: 999;
        box-sizing: border-box;
        padding: 0 1rem;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;

        .home-searchv {
            width: 100%;
            height: 4.6rem;
            background: rgba(255, 255, 255, 1);
            box-shadow: 0 0 0.5rem 0 rgba(9, 44, 76, 0.1);
            border-radius: 2.25rem;
            display: flex;
            flex-direction: row;
            align-items: center;

            .iconfont {
                font-size: 1.5rem;
            }

            svg {
                font-size: 1.5rem;
                font-weight: bold;
                color: #C8CDD1;
                align-self: center;
                margin-left: 1rem;
            }

            .home-search {
                width: 82%;
                border: none !important;
                box-shadow: none !important;
                margin-left: 1rem;
                color: #C8CDD1;
            }
        }
    }
}