.cashier_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-top: 4.4rem;
    width: 100%;
    height: 100%;

    .cashier_title {
        width: 32.6rem;
        height: 4.6rem;
        background-color: #fff;
    }

    .ant-tabs-tab {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        color: rgba(0, 0, 0, .65);
    }

    .address_wrap {
        margin-top: 1.5rem;
        width: 35rem;
        // height: 14.8rem;
        border-radius: 2rem;
        background-color: rgba(255, 255, 255, 100);
        text-align: center;
        border: 0.2rem dashed rgba(254, 161, 3, 100);
        padding: 0 2.2rem 0 2.2rem;
        box-sizing: border-box;
        position: relative;

        ul {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            li {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                color: rgba(9, 44, 76, 1);
                font-size: 1.4rem;
                margin-top: 1.5rem;

                &:nth-last-of-type(1) {
                    margin-bottom: 2.4rem;
                }

                img {
                    width: 2.1rem;
                    height: 2.4rem;
                    margin-right: 1rem;
                }
            }
        }

        aside {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 9.8rem;
            height: 4rem;
            line-height: 3.9rem;
            border-radius: 0px 0px 2rem 0px;
            background-color: rgba(255, 255, 255, 100);
            color: #F66C6C;
            font-size: 1.4rem;
            text-align: center;
            border: 0.2rem dashed rgba(254, 161, 3, 100);
            border-bottom: none;
            border-right: none;
        }
    }


    .pay_wrap {
        width: 100%;
        padding: 0 5.7rem;
        margin-top: 1.6rem;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;

        button {
            width: 9.4rem;
            height: 3.6rem;

        }
    }
}